<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html>
<head>

    <title>GUESTBOOK!</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<section id = "header">
<div class = "menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="posts.twig"><img src = "images/love.png" width="50px" height="50px"> WELCOME {{ username }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="posts.php">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout.php">LOGOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class = "banner text-center" >
    <h1>Drop your wishes here for us </h1>
</div>
</section>

<div class = "chat-form text-center">
    <form class="form_logs" action = "./posts.php" method="post" enctype="multipart/form-data">
        <div class="error-msg text-center">
            {{ session.success }}{{ session.delete }}{{ session.edit }}<br/>
            {{ session.error }}{{ session.uploaded }}{{ notUploaded }}<br/>
        </div>
        <input type="text" class="form-control" name="name" placeholder="Name" required value={{ username }}>
        <input type="text" class="form-control" name="email" placeholder="Email" required><br/>
        <textarea class="form-control" name="comment" placeholder="Your Message" required ></textarea>
        <input type="submit" class="btn btn-primary" name="postbtn" value="POST">
        <input type="hidden" name="size" value="1000000"/>
        <br/><input type="file" class="image-control" name="file"/>
    </form>
</div>

<!-----posts----->
{%  if numrows > 0  %}
    <div class = "container">
        <div class="booklogs has-text-centered" >
            {% for _comment in comments %}
                <form name='form1' action='posts.php' method='post' >
                    <h3 class="title is-3"><b>{{ _comment.name }}</b> posted at <b>{{ _comment.time }}</b>
                        on <b>{{ _comment.date }}</b></h3>
                    <input type='text' name='comment' value='{{ _comment.comment }}' style='background: transparent; border: none; color: darkcyan; font-size: 16px;
                               font-weight: bold; padding-left: 50px; margin-bottom: 16px;'/>
                    <input type='submit' class="btn edit-btn btn-outline-success btn-sm float-right submit_btn" name='editbtn' value='Edit' style='background-color: orange; padding: 5px ; border: transparent; font-size: 10px; color: black; ' />
                    <input type='hidden' name='hid[]' value='{{ _comment.id }}' />
                    <input type='hidden' name='num[]' class='checkbox' value='{{ _comment.id }}'>
                    <input type ='submit' class="btn delete-btn btn-sm float-right" name='deletebtn'  value='Delete' style='font-size: 10px; font-weight: bold;
                        color: floralwhite ; background-color: red; border: transparent; margin-bottom: 20px; margin-right: 3px; padding: 5px' />
                    <h4 class="comments text-center"><b>Email address: {{ _comment.email }}</b></h4>

                    {% if _comment.type == "image" %}

                        <img src="uploads/{{ _comment.image }}" alt="image">

                        {% elseif _comment.type == "video" %}

                            <video width="320" height="240" controls>
                            <source src="uploads/{{ _comment.image }}" type="video/mp4">
                            <source src="uploads/{{ _comment.image }}" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>

                        {% else %}

                    {% endif %}
                <hr/>
                </form>
            {% endfor %}
        </div>
    </div>
{% endif %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
        <li class="page-item"><a class="page-link" href="posts.php?page={{ page-1 }}">Previous</a></li>
            {% elseif pagenum == 1 %}
            <li class="page-item"><a class="page-link" href="posts.php?page={{ page }}"></a></li>
            {% else %}
        {% endif %}

        {% for page in range(1,number_of_pages) %}
        <li class="page-item"><a class="page-link" href="posts.php?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if page < number_of_pages %}
        <li class="page-item"><a class="page-link" href="posts.php?page={{ page+1 }}">Next</a></li>
            {% elseif pagenum == number_of_pages %}
            <li class="page-item"><a class="page-link" href="posts.php?page={{ page }}"></a></li>
            {% else %}
        {% endif %}
    </ul>
</nav>

<div class ='counter'>
    <br/>Total number of wishes : {{ numrows }}
    <br/>You are currently in page {{ page }} of {{ number_of_pages }} pages.<br/><br/>
</div>

<script type="text/javascript">
    $(function() {
        $('.delete-btn').on('click', function(e){
            let status = confirm('Are you sure you want to delete?');

            if(!status) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(function() {
        $('.edit-btn').on('click', function(a){
            let status = confirm('Are you sure you want to make changes?');

            if(!status) {
                a.preventDefault();
                return false;
            }
        });
    });
</script>

</body>
</html>
